extends layout

block content
    .header
      .header-bottom
        .container
          .logo
            a(href='index.html')
              img.img-responsive(src='images/logo.png', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .head-nav
            span.menu  
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.cl-effect-3
              li
                a(href='index.html') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href=' about.html') About us
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href=' employeers.html') Employeers 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href=' 404.html') Job Seekers 
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href=' blog.html') Blog
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href=' contact.html') Contact
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .clearfix  
            // script-for-nav
            script.
              $( "span.menu" ).click(function() {
              $( ".head-nav ul" ).slideToggle(300, function() {
              // Animation complete.
              });
              });
            // script-for-nav
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .header-right1
            li
              a(href='/signin') Login
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='/signup') Sign Up
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .clearfix  
    // header
    // login
    .login-page
      .container
        .account_grid
          .col-md-6.login-left.wow.fadeInLeft(data-wow-delay='0.4s')
            h3 NEW CUSTOMERS
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            a.acount-btn(href='register.html') Create an Account
          | &#x9;&#x9;&#x9;   
          .col-md-6.login-right.wow.fadeInRight(data-wow-delay='0.4s')
            h3 REGISTERED CUSTOMERS
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p If you have an account with us, please log in.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            form(action='/login', method='POST')
              div
                span
                  | Login
                  label *
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                input(type='text', name='username', placeholder='Login', required='', autofocus='')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              div
                span
                  | Password
                  label *
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                input(type='password', name='password', placeholder='Password', required='')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input(type='submit', value='Sign In')
              a.btn.btn-primary(href='auth/facebook') Facebook
              a.btn.btn-info(href='auth/twitter') Twitter
              a.btn.btn-default(href='auth/vkontakte') VK
          | &#x9;
          | &#x9;&#x9;&#x9;&#x9;
          .clearfix
            #message
              h1.text-center.error-message #{message}
    // login
    // footer-top
    .footer-top
      .container
        .col-md-4.foo-left
          a(href='index.html')
            img.img-responsive(src='images/logo.png', alt='')
          | &#x9;&#x9;&#x9;
          p
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
        | &#x9;&#x9;
        .col-md-4.foo-left
          h3 Twitter Update
          | &#x9;&#x9;&#x9;
          h6 ABOUT 9 HOURS
          | &#x9;&#x9;&#x9;
          p
            | AGOMeet Aldous - a Brave New World for #rails with more cohesion, less coupling and greater dev speed http://t.co/rsekglotzs
          | &#x9;&#x9;&#x9;
          h6 ABOUT 1 DAY AGO
          | &#x9;&#x9;&#x9;
          p
            | Here&apos;s a rare Interview with #graphicdesign legend Massimo Vignelli http://t.co/duxnpoh57z http://t.co/kxO3gPBTo7
        | &#x9;&#x9;
        .col-md-4.foo-left
          h3 Useful lnks
          | &#x9;&#x9;&#x9;&#x9;
          ul
            li.active
              a(href='about.html') About Us
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Services 
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Work 
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='blog.html') Our Blog
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href=' 404.html') Customers Testimonials
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Affliate
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href=' contact.html') Contact Us
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .clearfix  
        | &#x9;&#x9;
        .clearfix  
    // footer-top
    // footer-bottom
    .footer-bottom
      .container
        p
          | Copyrights &copy; 2015 Muster All rights reserved | Template by 
          a(href='http://w3layouts.com/') &nbsp; W3layouts
    // footer-bottom
