
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Muster a Corporate Category Flat Bootstarp Responsive Website Template | About :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Muster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>
<body>
<!-- header -->
	<div class="header">
			<div class="header-bottom">
				<div class="container">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""></a>
					</div>
					<div class="head-nav">
						<span class="menu"> </span>
							<ul class="cl-effect-3">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href=" about.html">About us</a></li>
								<li><a href=" employeers.html">Employeers </a></li>
								<li><a href=" 404.html">Job Seekers </a></li>
								<li><a href=" blog.html">Blog</a></li>
								<li><a href=" contact.html">Contact</a></li>
									<div class="clearfix"> </div>

							</ul>
								<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav -->
					</div>
					<div class="header-right1">
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Sign In</a></li>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- header -->
<div class="mission">
		<div class="container">
			<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Лучший в мире</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://pp.vk.me/c629201/v629201193/70e7/MMoA1usb0Lc.jpg" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>Vladislav</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>Solevarchenko</td>
                      </tr>
                      <tr>
                        <td>Shortly about:</td>
                        <td>KappaPride</td>
                      </tr>
                      <tr>
                        <td>Interests:</td>
                        <td>Papich</td>
                      </tr>
                        <tr>
                        <td>email</td>
                        <td>glezin.vlad@pomoika2.com</td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="#" class="btn btn-primary">roflanPomoika</a>
                  <a href="#" class="btn btn-primary">roflanPapich</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="icon-remove-sign"></i></a>
                        </span>
                    </div>

          </div>
	</div>
</div>

<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<div class="col-md-4 foo-left">
			<a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""></a>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>Twitter Update</h3>
			<h6>ABOUT 9 HOURS</h6>
			<p>AGOMeet Aldous - a Brave New World for #rails with more cohesion, less coupling and greater dev speed http://t.co/rsekglotzs</p>
			<h6>ABOUT 1 DAY AGO</h6>
			<p>Here's a rare Interview with #graphicdesign legend Massimo Vignelli http://t.co/duxnpoh57z http://t.co/kxO3gPBTo7</p>
		</div>
		<div class="col-md-4 foo-left">
			<h3>Useful lnks</h3>
				<ul>
					<li class="active"><a href="about.html">About Us</a></li>
					<li><a href="#">Services </a></li>
					<li><a href="#">Work </a></li>
					<li><a href="blog.html">Our Blog</a></li>
					<li><a href=" 404.html">Customers Testimonials</a></li>
					<li><a href="#">Affliate</a></li>
					<li><a href=" contact.html">Contact Us</a></li>
						<div class="clearfix"> </div>
				</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- footer-top -->
<!-- footer-bottom -->
	<div class="footer-bottom">
		<div class="container">
			<p>Copyrights © 2015 Muster All rights reserved | Template by <a href="http://w3layouts.com/">&nbsp; W3layouts</a></p>
		</div>
	</div>
<!-- footer-bottom -->
</body>
</html>