extends layout

block content
    .header
        .header-bottom
            .container
                .logo
                    a.img-responsive(href='/')
                        h1 ItrBlog
                .head-nav
                    span.menu
                    ul.cl-effect-3
                        li.active
                            a(href='/') Home
                        li
                            a(href='/search') Search
                        li
                            a(href='/posts') Publications
                        .clearfix
                .header-right1
                    - if(user) {
                    li
                        a(href='/profile/#{user.username}') #{user.username}
                    li
                        a(href='/signout') Sign Out
                    - } else {
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/signup') Sign Up
                    - }
                .clearfix
    .main
        .error-404.text-center
            h1 404
            p not found
            a.b-home(href='index.html') Back to Home
    .footer-bottom
        .container
            p
                | Copyrights &copy; 2015
block scripts
    script.
        $("span.menu").click(function () {
            $(".head-nav ul").slideToggle(300, function () {
            });
        });