extends layout

block content
    .header
        .header-bottom
            .container
                .logo
                    h1.img-responsive Blog
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .head-nav
                    span.menu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.cl-effect-3
                        li.active
                            a(href='/') Home
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(href=' ') About us
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(href=' /posts') Blog
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(href=' ') Contact
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .clearfix
                    // script-for-nav
                    script.
                        $( "span.menu" ).click(function() {
                            $( ".head-nav ul" ).slideToggle(300, function() {
                                // Animation complete.
                            });
                        });
                    // script-for-nav
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .header-right1
                    - if(user) {
                    li
                        a(href='/profile/#{user.username}') #{user.username}
                    li
                        a(href='/signout') Sign Out
                    - } else {
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/signup') Sign Up
                    - }
                .clearfix
    // header
    .our
        .container
            h5 our process
            | &#x9;&#x9;&#x9;
            h2 How We Work for you?
            | &#x9;&#x9;&#x9;
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            | &#x9;&#x9;&#x9;
            .our-top
                .col-md-4.our-left
                    i.best
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    h3 Searching for the best job
                    | &#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                        | Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.
                | &#x9;&#x9;&#x9;&#x9;
                .col-md-4.our-left
                    i.resu
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    h3 Searching for the best job
                    | &#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                        | Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.
                | &#x9;&#x9;&#x9;&#x9;
                .col-md-4.our-left
                    i.interv
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    h3 Searching for the best job
                    | &#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                        | Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.
                | &#x9;&#x9;&#x9;&#x9;
                .clearfix
    // recnt

    // footer-bottom
    .footer-bottom
        .container
            p
                | Copyrights &copy; 2015
    // footer-bottom
