doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/bootstrap-markdown/css/bootstrap-markdown.min.css')
        link(rel='stylesheet', href='/components-font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/jqcloud2/dist/jqcloud.min.css')
        link(rel='stylesheet', href='/ng-tags-input/ng-tags-input.min.css')
        script(src='/jquery/dist/jquery.min.js')

    body
        block content
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='/js/script.js')
        block scripts
