extends layout

block content
    body
        .header
            .header-bottom
                .container
                    .logo
                        a.img-responsive(href='/')
                            h1 ItrBlog
                    .head-nav
                        span.menu
                        ul.cl-effect-3
                            li.active
                                a(href='/') Home
                            li
                                a(href='/search') Search
                            li
                                a(href='/posts') Publications
                            .clearfix
                        script.
                            $("span.menu").click(function () {
                                $(".head-nav ul").slideToggle(300, function () {
                                    // Animation complete.
                                });
                            });
                    .header-right1
                        - if(user) {
                        li
                            a(href='/profile/#{user.username}') #{user.username}
                        li
                            a(href='/signout') Sign Out
                        - } else {
                        li
                            a(href='/signin') Sign In
                        li
                            a(href='/signup') Sign Up
                        - }
                    .clearfix
        .content-top
            .container
                .single
                    .col-md-8.single-top
                        h2 printing and typesetting industry
                        img.img-responsive(src='images/blog1.jpg', alt='')
                        h5 description of post
                        p.sin
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci arted.
                            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliq usit e
                            | adipiscing elit, sed diam nonummy nibh euismod tinci. Donec sed odio dui. Duis mollis, est non cons
                            | commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Amet, consectetuer  diam teri
                            | adipiscing elit, sed diam nonummy nibh euismod tinci.
                        p.sin
                            | Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamco elitider
                            | per nulla non metus auctor fringilla. Donec id elit non mi porta gravi da at eget metus. Fusce dap gravi
                            | ibus, tellus ac  cursus commodo, Nulla vitae elit libero, a torto ediri
                            | pharetra augue. Donec ullamco per nulla non metus auctor fringilla.
                        .sucss-bottom
                            ul
                                li
                                    a(href='#')
                                        i.adm1
                                        | by
                                        a(href='#') John Deo
                                li
                                    a(href='#')
                                        i.tag
                                    span.icon_text
                                        a(href='#') Lorem,
                                        a(href='#') Ipsum,
                                        a(href='#') printer,
                                        a(href='#') unknown,
                        .respon
                            h2 2 COMMENTS SO FAR
                            .strator
                                h5 ADMINISTRATOR
                                p feb 20th, 2015 at 9:41 pm
                                .strator-left
                                    img.img-responsive(src='images/co.png', alt='')
                                .strator-right
                                    p.sin
                                        | Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra aug
                                        | metus auctor fringilla. Donec id elit non mi porta  da at eget me  us, tellus ac
                                        | ortor mauris ntum nibh, ut fermentum massa risus. Sed posuere consectetur
                                        | Nulla vitae elit liber. Sed posuere consectetur est at lobortis.
                                .clearfix
                                .rep
                                    a.reply(href='#') REPLY
                            .strator
                                h5 JANE DOE
                                p feb 20th, 2015 at 9:41 pm
                                .strator-left
                                    img.img-responsive(src='images/co.png', alt='')
                                .strator-right
                                    p.sin
                                        | Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pti
                                        | metus auctor fringilla. Donec id elit non mi porta  da at eget me  us,
                                        | ortor mauris ntum nibh, ut fermentum massa risus. Sed posuere
                                        | Nulla vitae elit liber. Sed posuere consectetur.
                                .clearfix
                                .rep
                                    a.reply(href='#') REPLY
                            .comment
                                h2 LEAVE A COMMENT
                                form(method='post', action='')
                                    input.textbox(type='text', value='Name', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Name';}")
                                    input.textbox(type='text', value='Email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email';}")
                                    input.textbox(type='text', value='Website', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Website';}")
                                    textarea(value='Message:', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Message';}") Message
                                    .smt1
                                        input(type='submit', value='add a comment')
                    .blog-content-right
                        .b-search
                            form
                                input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                                input(type='submit', value='')
                        .b-tag-weight
                            h3 Tags Weight
                            ul
                                li
                                    a(href='#') Lorem
                                li
                                    a(href='#') consectetur
                                li
                                    a(href='#') dolore
                                li
                                    a(href='#') aliqua
                                li
                                    a(href='#') sit amet
                                li
                                    a(href='#') ipsum
                                li
                                    a(href='#') Lorem
                                li
                                    a(href='#') consectetur
                                li
                                    a(href='#') dolore
                                li
                                    a(href='#') aliqua
                                li
                                    a(href='#') sit amet
                                li
                                    a(href='#') ipsum
                        // -- //End-tag-weight--
                    .clearfix
        .footer-bottom
            .container
                p
                    | Copyrights © 2015
block scripts
    script.
        $(document).ready(function(){
        alert(!{JSON.stringify(post)})
        });