extends layout

block content
    .header
        .header-bottom
            .container
                .logo
                    a.img-responsive(href='/')
                        h1 ItrBlog
                .head-nav
                    span.menu
                    ul.cl-effect-3
                        li.active
                            a(href='/') Home
                        li
                            a(href='/search') Search
                        li
                            a(href='/posts') Publications
                        .clearfix
                    script.
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                            });
                        });
                .header-right1
                    - if(user) {
                    li
                        a(href='/profile/#{user.username}') #{user.username}
                    li
                        a(href='/signout') Sign Out
                    - } else {
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/signup') Sign Up
                    - }
                .clearfix
    .blog(ng-app='postsApp')
        .container
            .blog-content(ng-controller='PostsCtrl')
                .blog-content-left
                    .blog-articals
                        .blog-artical(ng-repeat='post in posts track by $index')
                            .blog-artical-basicinfo
                                ul
                                    li.post-date
                                        p
                                            span(ng-model='post.updatedAt')
                                            label May,2015
                                    .clearfix
                            .blog-artical-info
                                .blog-artical-info-head
                                    h2
                                        a(href='', ng-model='post.title')
                                    ul
                                        li
                                            i.adm1
                                            | by
                                            a(href='/prodile/{{post.UserId}}', ng-model='post.UserId')
                                        li
                                            span
                                            a(href='#') Lorem
                                            | ,
                                            a(href='#') Ipsum
                                            | ,
                                            a(href='#') printer
                                            | ,
                                            a(href='#') unknown
                                        .clearfix
                                .blog-artical-info-text
                                    p(ng-model='post.content')
                                        a(href='/post/{{post.id}}') [...]
                            .clearfix
                    // start-blog-pagenate
                    .blog-pagenat
                        ul
                            li
                                a.frist(href='#')
                                    span
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a.last(href='#')
                                    span
                            .clearfix
                    // //End-blog-pagenate
                .blog-content-right
                    .b-search
                        form
                            input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                            input(type='submit', value='')
                    // start-twitter-weight
                    .b-tag-weight
                        h3 Tags Weight
                        ul
                            li
                                a(href='#') Lorem
                            li
                                a(href='#') consectetur
                            li
                                a(href='#') dolore
                            li
                                a(href='#') aliqua
                            li
                                a(href='#') sit amet
                            li
                                a(href='#') ipsum
                            li
                                a(href='#') Lorem
                            li
                                a(href='#') consectetur
                            li
                                a(href='#') dolore
                            li
                                a(href='#') aliqua
                            li
                                a(href='#') sit amet
                            li
                                a(href='#') ipsum
                .clearfix
    .footer-bottom
        .container
            p Copyrights © 2015
block scripts
    script(src='/angular/angular.min.js')
    scrpt(src='/js/controllers/postsController.js')